body {
	min-width: 1600px;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 500;	
	line-height: 25px;
	color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.layout-center {
	width: 1180px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

.header-top {
	padding: 12px 0;
	font-size: 14px;
	line-height: 21px;
}

.contacts {
	position: relative;
	float: left;
	width: 556px;
}

.phone {
	padding-left: 15px; 
}

.email {
	padding-left: 40px; 
}

.phone:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 8px;
  height: 13px;
  transform: translateY(-50%);
 	background: url("../img/spritesheet.png") no-repeat -116px -26px;
}

.email:before {
	content: "";
	position: absolute;
	left: 120px;
	top: 50%;
	width: 16px;
  height: 11px;
  transform: translateY(-50%);
 	background: url("../img/spritesheet.png") no-repeat -97px -5px;
}

.top-nav {
	float: right;
	width: 589px;
	text-align: right;
	text-transform: uppercase;
}

.top-nav a {
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px;
	text-decoration: none;
	color: #000000;
}

.top-nav a:last-child {
	margin-right: 0;
}

.header-bottom {
	padding: 55px 0;	
	font-size: 0;
	color: #463f3a;
	background-color: #f8f8f8;
}

.logo {	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 260px;
	margin-right: 40px;	
	text-transform: uppercase;	
}

.company-name {
	font-size: 48px;
	line-height: 43px;
	font-weight: 900;	
}

.logo span {
	font-family: "Arial", sans-serif;
	font-size: 15px;
	line-height: 22px;
}

.logo:after {
	content: "";
	position: absolute;
	width: 21px;
  height: 52px;
  top: 4px;
	left: 195px;
	background: url("../img/spritesheet.png") no-repeat -35px -5px;
}

.bottom-nav {	
	display: inline-block;
	vertical-align: middle;
	width: 585px;	
	margin-right: 172px;
	text-align: center;
}

.menu-item  {
	position: relative;
	margin-right: 46px;
	font-size: 18px;
	font-weight: 500;
	line-height: 25px;
	text-decoration: none;
	text-transform: uppercase;
	color: #454545;
}

.menu-item:after {
	position: absolute;
	left: -25px;
	bottom: 2px;
	width: 2px;
	height: 18px;
	content: "";
	background-color: #f56d6b;
	transform: rotate(20deg);
}

.menu-item:first-child:after {
	background-color: transparent;
}

.cart {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 112px;
	/*padding-left: 10px;*/
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	color: #2a2b2c;
}

.items-count {
	display: block;	
}

.cart:after {
	content: "";
	position: absolute;
	width: 37px;
  height: 32px;
  top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: url("../img/spritesheet.png") no-repeat -5px -67px;
}

.section {
	padding: 40px 0;
}

.intro-image {	
	padding: 82px 0;
	padding-left: 90px; 
	margin-bottom: 40px;	
	height: 356px;
	background: url("../img/intro-bg.png") no-repeat 0 0;
}

.shoes-type {
	padding: 0;
	margin: 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 60px;
	line-height: 90px;
	font-weight: 700;
	text-transform: uppercase;
	list-style: none;
	color: #ffffff;
}

.features {
	font-size: 0;	
}

.feature-item {
	display: inline-block;
	vertical-align: top;
	width: 370px;
	margin-right: 35px;
	padding: 25px 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #252525;
	background-color: #f5f6f1;
}

.feature-item:last-child {
	margin-right: 0;
}

.feature-title {	
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	color: #463f3a;
}

.red-mark {
	color: #f56d6b;
}

.shoes-categories {
	background-color: #f5f6f1; 
	border: 2px solid #e6e6e6;
	border-left: none;
	border-right: none;
}

.section-header {	
	padding-bottom: 25px; 	
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 30px;
	line-height: 37px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	color: #2e2828;
}

.section-header:after {
	content: "";	
  position: relative;
  top: -30px;
  z-index: 1;
  display: block;
  border-bottom: 3px solid #463f3a; 
}

.section-header:before {
	content: "";	
  position: relative;
  top: 20px;
  z-index: 1;
  display: block;
  border-bottom: 1px solid #463f3a; 
}

.section-title {
	display: inline;	
	position: relative;
	z-index: 2;
	padding: 0 12px;
	background-color: #f5f6f1;
	color: #463f3a;
}

.shoes-categories-list {
	font-size: 0;
}

.shoes-categories-item {
	display: inline-block;
	vertical-align: top;
	width: 380px;
	margin-right: 20px;
	font-family: "Raleway", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;	
	background-color: #ffffff;
}

.shoes-categories-item:last-child {
	margin-right: 0;
}

.shoes-categories-image {
	width: 380px;
	height: 352px;
}

.shoes-categories-info {
	padding: 17px;
	padding-bottom: 0;
}

.shoes-categories-title {
	margin-bottom: 14px;
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 30px;
	line-height: 37px;	
	font-weight: 700;
	text-transform: uppercase;
	color: #463f3a;
}

.shoes-categories-text {
	font-style: italic;	
}

.shoes-categories-link {
	font-size: 20px;
	line-height: 42px;
	font-weight: 700;
	text-decoration: none;
}

.shoes-categories-item:first-child .shoes-categories-image {		
	background: url("../img/cat-1.jpg") no-repeat 0 -140px;
}

.shoes-categories-item:nth-child(2) .shoes-categories-image {		
	background: url("../img/cat-2.jpg") no-repeat 0 0;
}

.shoes-categories-item:last-child .shoes-categories-image {		
	background: url("../img/cat-3.jpg") no-repeat -40px 0;
}

.arrivals .section-title {
	background-color: #ffffff;
}

.arrivals-list {
	font-size: 0;
}

.shoes-item {
	display: inline-block;
	vertical-align: top;
	width: 280px;
	margin-right: 20px;
	font-size: 18px;
	line-height: 25px;
	font-weight: 500;
}

.shoes-item:last-child {
	margin-right: 0;
}

.shoes-item-image {
	width: 280px;
	height: 200px;
	margin-bottom: 17px;
}

.shoes-item-image img {
	height: 100%;
}

.shoes-item-title {
	margin-bottom: 7px;
}

.shoes-item .price {
	display: block;
	margin-bottom: 22px;
	font-size: 20px;
	line-height: 27px;
	font-weight: 900;
}

.btn {
	display: block;
	width: 280px;
	padding: 6px 0;
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 20px;
	line-height: 27px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background-color: #463f3a;
}

.featured {
	background-color: #f5f6f1; 
	border: 2px solid #e6e6e6;
	border-left: none;
	border-right: none;
}

.featured-list {
	font-size: 0;
}

.latest-posts {
	padding-bottom: 90px;
}

.latest-posts .section-title {
	background-color: #ffffff;
}

.posts-list {
	font-size: 0;
}

.post-item {
	display: inline-block;
	vertical-align: top;
	width: 373px;
	margin-right: 30px;
	font-size: 16px;
	line-height: 24px;
}

.post-item:last-child {
	margin-right: 0;
}

.post-image {
	margin-bottom: 11px;
}

.post-title {
	margin-bottom: 11px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.post-text {
	margin-bottom: 11px;
}

.post-link {	
	font-weight: 700;
	text-decoration: none;
}

.slogan {
	padding: 40px 0;
	text-align: center;
	background-color: #f2f2f0;
}

.slogan-title {
	margin-bottom: 11px;
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 36px;
	line-height: 42px;
	text-transform: uppercase;	
	color: #463f3a;
}

.slogan-text {	
	font-size: 16px;
	line-height: 23px;	
}

.slogan-link {
	text-decoration: none;
}

.top-footer {
	padding: 55px 0;	
	font-size: 0;	
	color: #ffffff;
	background-color: #463f3a;
}

.top-footer .logo:after {
	top: 4px;
	left: 195px;	
	background: url("../img/spritesheet.png") no-repeat -66px -5px;
}

.top-footer .menu-item {
	color: #ffffff;
}

.top-footer nav {
	margin-bottom: 15px;
}

.copyright {
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -0.14;
}




